@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="text-center">@ViewData["Title"]</h1><br /><br />

<button type="button" class="btn btn-primary btn-lg btn-block">Create Account</button><br /><br /><br /><br />
<button type="button" class="btn btn-secondary btn-lg btn-block">Update Account</button><br /><br /><br /><br />
<button type="button" class="btn btn-primary btn-lg btn-block">View Account Details</button><br /><br /><br /><br />
<button type="button" class="btn btn-danger btn-lg btn-block">Delete Account</button><br /><br /><br /><br />
<button type="button" class="btn btn-info btn-lg btn-block"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a></button><br /><br /><br /><br />

